################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/bin/Debug/net5.0
/obj
/PointsService.csproj.user
